fastapi==0.115.6
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.36
pydantic==2.10.4
pymysql==1.1.1
python-multipart==0.0.20
requests==2.32.3
httpx==0.28.1
pytest==8.3.4
PyJWT==2.10.1
redis==5.2.1
rq==2.1.0
